In [11]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import os

In [16]:
path = 'Data_CSV\landmarks.csv'
df = pd.read_csv(path)

In [17]:
df.head()

,x_nose,y_nose,z_nose,x_left_eye_inner,y_left_eye_inner,z_left_eye_inner,x_left_eye,y_left_eye,z_left_eye,x_left_eye_outer,...,x_right_heel,y_right_heel,z_right_heel,x_left_foot_index,y_left_foot_index,z_left_foot_index,x_right_foot_index,y_right_foot_index,z_right_foot_index,pose
0,11.185157,5.892762,-220.081240,12.562175,1.308306,-220.477170,13.732613,0.450217,-220.51802,14.875169,...,-23.392162,46.674423,184.999220,13.174011,18.155848,163.078280,-23.444357,57.711105,165.341980,1
1,3.448390,-7.783039,-254.235210,6.426187,-15.067614,-255.776860,8.276227,-16.097488,-255.79648,10.009254,...,-15.777005,5.429411,257.028900,3.947560,35.179882,238.987090,-21.231554,24.110815,235.118600,1
2,-52.969950,15.338495,-14.907137,-55.671480,12.805885,-21.459467,-55.698060,12.115666,-21.46775,-55.751030,...,59.197628,38.129860,57.980580,56.006477,67.882515,-37.468180,51.483590,61.572540,46.710632,1
3,-49.171170,-11.476644,-28.905163,-51.217205,-13.957122,-35.278355,-51.137115,-14.476606,-35.27944,-51.068783,...,53.792007,29.601288,56.783127,48.558200,54.931026,-32.618572,45.228710,48.748077,44.664845,1
4,13.569203,21.441511,-237.883590,15.189288,20.450985,-239.822770,16.475620,20.427360,-239.87110,17.525700,...,-43.114480,70.085680,39.978474,-52.065490,85.376730,24.354063,-51.995647,83.393760,-3.862757,1

In [20]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

X = X.to_numpy()
y = y.to_numpy()

In [21]:
print(type(X))
print(X.shape)
print(type(y))
print(y.shape)

<class 'numpy.ndarray'>
(246, 99)
<class 'numpy.ndarray'>
(246,)